// css header
header{
    width: 100%;
    height: 80px;
    // background: ;
    position: fixed;
    z-index: 500;
    .container-fluid{ 
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            .hidden{
                display: none;
            }
        }
        .menu{
            height: 100%;
            @include mid();
            ul{
                display: flex;
                height: 100%;
                li{
                    padding: 0 20px;
                    height: 100%;
                    a{
                        text-decoration: none;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        font-size: 16px;
                        color: white;
                        height: 100%;
                        @include mid(true);
                    }
                }
            }
        }
        .right{
            display: flex;
            i{
                width: 30px;
                height: 30px;
                margin: 0 12px;
                cursor: pointer;
            }
            &__box{
                display: flex;
                .link{
                    background: $red-bg-cl;
                    width: 100px;
                    margin: 0 5px;
                    height: 27px;
                    @include text(16px, utm-normal, $lh-text, $white-cl, uppercase);
                    @include mid(true);
                    @include br(4px);
                    cursor: pointer;
                }
                .register{
                    background: $red-bg-cl;
                    width: 230px;
                    margin: 0 5px;
                    height: 27px;
                    @include text(16px, utm-normal, $lh-text, $white-cl, uppercase);
                    @include mid(true);
                    @include br(4px);
                    cursor: pointer;
                }
            }
        }
        .btn-menu{
            display: none;
        }
    }
}